<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="updateEvent(eventForm.value)" #eventForm="ngForm">
        <div class="form-group">
          <label for="">Id</label>
          <input type="text" [(ngModel)]="event.id" 
            class="form-control" 
            id="id" 
            name="id" 
            placeholder="Enter  ID "
            required #id="ngModel">
          <div [hidden]="!id.pristine" class="alert alert-danger">Id is required</div>
        </div>
        <div class="form-group">
          <label for="pname">Name</label>
          <input type="text" [(ngModel)]="event.name" 
  
            class="form-control" 
            id="name" 
            name="name" 
            placeholder="Enter name"
            required #name="ngModel">
        </div>
        <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" [(ngModel)]="event.email" 
            class="form-control" 
            id="email" 
            name="email" 
            placeholder="Enter your email address"
            required #email="ngModel">
          <div [hidden]="!email.pristine" class="alert alert-danger">Email is required</div>
        </div>
        <button type="submit" [disabled]="!eventForm.form.valid" 
        class="btn btn-info">Submit</button>
      </form>
